.footer_w{
  height: 200px;
  background: #666;
}

.footer {
  width: 1200px;
  margin: 0 auto;
}

.clearfix {
  zoom: 1;
}

.footerLogo {
  width: 280px;
  float: left;
  margin: 68px 175px 0 0;
}

.footerInfo {
  float: left;
  margin-top: 25px;
  color: #fff;
}

.footerEwm {
  float: right;
  margin-top: 35px;
  color: #fff;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}