@import "variables";

.top-zone{
  background: url(../images/top.jpg) -180px;
  height: 239px;
  //width: 980px;
  position: relative;
}

.header_contact{
  position: absolute;
  top: 10px;
  left: 830px;
  color: #fff;

  a{
    color: #fff;
  }
}