$dark-orange: grey !default;

.nav_w{
  width: auto;
  padding-right: 10px;
  color: #fff;
  z-index: 900;
  box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
  position: relative;
}

.nav{
  width: 980px;
  margin: 0 auto;

  ul li
  {
    width: 108px;
    float: left;
    margin-right: 1px;
    position: relative;
    ul{
      width: 150px;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 99;
      background-color: $light-orange;
      display: none;
      overflow: hidden;
      li {
        width: 150px;
        height: 40px;
        line-height: 40px;
        margin-top: -1px;
        border-top: 1px solid $dark-orange;
        a{
          display: block;
          color: #fff;
          font-size: 14px;
          font-weight: normal;
          padding-left: 22px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          &:hover{
            font-weight: bold;
          }
        }
      }
    }
    a.navName{
      height: 45px;
      line-height: 45px;
      font-size: 16px;
      display: block;
      text-align: center;
      font-weight: normal;
      color: #333333;
    }
    &.current a.navName, a.navName:hover{
      font-weight: bold;
    }
  }

}

.navTwo ul li{
  width: 100px;
}