.content {
  width: 1200px;
  padding-right: 0;
  padding-left: 0;
  margin: 40px auto 0;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.no-padding {
  padding: 0;
}
ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.content .breadcrumb {
  line-height: 40px;
  height: 40px;
  background: #0568A4;
  text-indent: 20px;
  padding: 0 0;
  color: white;
}