
// Body
$body-bg: #f0f1f6;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//basic colors
//
$orange : #A46105;
$medium-blue: #0678be;
$container-width:980px;
$slider-height: 350px;
$list-height: 326px;
$header-height:145px;
$light-blue:#0680CB;
$dark-blue:#0568A4;
$company-green:#00b38a;
$medium-orange: #DA7025;
$dark-orange: #B45C1E;
$light-orange: #f47d29;