.celebrity-item
{
  position: absolute;
  margin: 12px;
  padding: 36px 48px;
  width: 368px;
  background: #FFF;
  box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
  border-radius: 8px;
  box-sizing: border-box;
}

.maincontent{
  position: relative;
}