@import "variables";

@mixin transitions($time){
  transition:$time;
  -webkit-transition: $time;
}

@mixin rotates($degree)
{
  transform: rotate($degree);
  -webkit-transform: rotate($degree);
}

@mixin white_round_block($radius, $transition, $height: $list-height){
  height: $height;
  background: #fff;
  border-radius: $radius + px;
  border: 1px #fff solid;
  @include transitions($transition);
}

ul, ol, li{
  list-style: none;
  margin: 0;
  padding: 0;   /* delete padding */
}

body{
  //background-color: #f0f1f6;

}
.divBackgroundImage{
  background-image: url('../images/bg.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .5;
}
body::before{
  background-attachment: fixed;
}

a{
  text-decoration: none;  //delete underline
  &:hover{
    text-decoration: none;
    color:$orange;
  }
}

.no-padding{
  padding:0;
}

.clearfix{
  zoom: 1;
}

.clear{
  clear: both;
  height: 0;
  overflow: hidden;
}

.l{
  float: left;
}

.maincontent{
  margin-top: 40px;
}

@import "header";
@import "nav";
@import "swiper";
@import "footer";
@import "list";
@import "page";